.section {
  background: radial-gradient(
      circle at center,
      rgb(104, 180, 206),
      transparent 100%
    ),
    linear-gradient(to bottom right, rgb(82, 167, 82), transparent 15%),
    linear-gradient(to bottom left, rgb(71, 155, 71), transparent 15%),
    linear-gradient(to top right, rgb(95, 172, 95), transparent 15%),
    linear-gradient(to top left, rgb(99, 182, 99), transparent 15%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.heading h2 {
  font-size: 3.5rem;
  color: #1579bd;
  text-transform: capitalize;
}

.heading h3 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #1579bd;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.swiper {
  width: 100%;
  max-width: 800px;
}

.banner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text_container {
  color: #fff;
  background-color: #1579bd;
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 2rem;
}

.banner_container h3 {
  font-size: 1.6rem;
  font-family: var(--font-family-2);
  margin-bottom: 8px;
}

.banner_container h4 {
  font-size: 1.2rem;
  font-family: var(--font-family-2);
  margin-bottom: 1rem;
  color: #fff;
}

.banner_container p {
  font-size: 1rem;
  font-family: var(--font-family-1);
  text-align: center;
}

.image {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem;
  }

  .section {
    padding: 1rem;
  }
}
