.input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_box > input {
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.input_container button {
  font-size: 18px;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
    0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
    inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-top: 2rem;
}

.input_container button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
    0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.input_container button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}

.timer_box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 3rem;
}

.timer_box div {
  min-width: 70px;
  text-align: center;
}

.action_box button:first-child {
  margin-right: 2rem;
}
