.faqContainer {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4rem;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 10px;
}

.faqItem {
  overflow: hidden;
  /* transition: box-shadow 0.3s ease; */
}

.faqQuestion {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  font-weight: 600;
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 15px;
  color: #999;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.faqAnswer.active {
  max-height: 200px;
}

.icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  color: var(--color-primary);
  font-weight: 600;
}

.rotated {
  transform: rotate(180deg);
}

.notRotated {
  transform: rotate(0deg);
}

@media (max-width: 820px) {
  .faqContainer {
    padding: 0 2rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .faqQuestion {
    gap: 2rem;
  }
}
