.section21 {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  perspective: 1000px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 280px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

/* .card h3 {
  margin-top: 20px;
} */
.card h2 {
  font-size: 2rem;
  margin-top: 10px;
}

.featuredStrip {
  position: absolute;
  top: 20px;
  left: -35px;
  background-color: #ff4081;
  color: white;
  padding: 3px 40px;
  font-size: 0.8rem;
  transform: rotate(-45deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.centerCard {
  background-color: #1a237e;
  color: white;
  height: 350px;
  z-index: 2;
  position: relative;
}

.bestSelling {
  position: absolute;
  top: 20px;
  right: -30px;
  background-color: #ff4081;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  transform: rotate(45deg);
}

.handshakeIcon {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

.clientsText {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.purchaseBtn {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purchaseBtn:hover {
  background-color: #f50057;
}

.sideCard {
  opacity: 0;
  transform: translateZ(-100px) translateX(100px);
  transition: all 1s ease;
}

.sideCard.show {
  opacity: 1;
  transform: translateZ(0) translateX(0);
}

.sideCard:first-child {
  transform: translateZ(-100px) translateX(-100px);
}

.sideCard:first-child.show {
  transform: translateZ(0) translateX(0);
}

@media (max-width: 992px) {
  .card {
    padding: 30px 15px;
    width: 220px;
    height: 330px;
  }
}

@media (max-width: 767px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    perspective: 1000px;
    padding: 0 3rem;
  }

  .card {
    padding: 30px;
    width: 280px;
    height: 330px;
  }
}
