.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  margin-top: 2rem;
}

.head h4 {
  /* margin-bottom: 4rem; */
  font-size: 2rem;
  color: #24180a;
}

.head a {
  color: #0056b3;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.head a:hover {
  transform: translateX(2px);
}
