body {
  background-color: #ffe8e8;
}

ul {
  margin: 5rem;
  column-count: 3;
  max-width: 1000px;
  margin: 4rem auto;
}

ul li {
  margin: 2rem;
  list-style: none;
  margin-top: 0;
  width: 15rem;
}

ul li a {
  text-decoration: none;
  color: #0056b3;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.2s ease;
  display: inline-block;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

ul li a:hover {
  transform: translateX(10px);
}

/* @ HIDE ARROWS FROM NUMBER INPUT FIELD */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
