.show_offer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .offer_btn {
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  background-color: purple;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
} */

.offer_btn {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.offer_btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.offer_btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.offer_btn:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.offer_btn:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.offer_btn:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.modal {
  background: radial-gradient(white, rgba(0, 0, 0, 0.5) 70%);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.modal_content {
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding: 16px;
  position: relative;
}

.close_btn {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.content {
  margin-top: 40px;
  width: 300px;
  height: 200px;
  font-size: 20px;
}
