.section14 {
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 40px;
  padding: 20px;
  margin-top: 4rem;
}

.leftColumn {
  flex: 1;
  min-width: 300px;
}

.leftColumn h1 {
  font-size: 5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.leftColumn p {
  margin: 40px 0;
  font-size: 1.6rem;
  max-width: 80%;
  letter-spacing: 2px;
}

.downloadButton {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: black;
  max-width: 400px;
  gap: 2rem;
}

.downloadButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.brochureImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.downloadText {
  display: flex;
  flex-direction: column;
}

.download_text {
  font-size: 1.2rem;
}

.fileInfo {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 1rem;
}

.fileInfo svg {
  margin-left: 5px;
  color: #303030;
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}

.fileInfo svg:hover {
  animation: jump 0.3s ease-in-out;
}

.rightColumn {
  flex: 1;
  min-width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label_container span:first-child,
.label_container span:last-child {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--primary-color);
}

.label_container label {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--primary-color);
}

.label_container span:last-child {
  color: red;
}

.input {
  flex: 1;
  padding: 10px;
  border: none;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: green;
}

.invalid {
  border-color: red;
}

.textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s;
  resize: none;
}

.textarea:focus {
  border-color: green;
}

.textarea.invalid {
  border-color: red;
}

.errorText {
  color: red !important;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.submitButton {
  align-self: flex-end;
  padding: 15px 30px;
  background-color: transparent;
  color: var(--color-button-1);
  border: 1px solid var(--color-button-1);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
}

.submitButton span {
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-button-1);
  color: var(--color-white);
}

.submitButton:hover span:last-child {
  transform: translateX(10px);
}

@media (max-width: 768px) {
  .section14 {
    flex-direction: column;
  }

  .formGroup {
    flex-direction: column;
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
