.section14 {
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 40px;
  padding: 20px;
  margin-top: 4rem;
}

.leftColumn {
  flex: 1;
  min-width: 300px;
}

.leftColumn h1 {
  font-size: 5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.leftColumn p {
  margin: 40px 0;
  font-size: 1.6rem;
  max-width: 80%;
  letter-spacing: 2px;
}

.downloadButton {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-decoration: none;
  color: black;
  max-width: 400px;
  gap: 2rem;
}

.downloadButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.brochureImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.downloadText {
  display: flex;
  flex-direction: column;
}

.download_text {
  font-size: 1.2rem;
}

.fileInfo {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 1rem;
}

.fileInfo svg {
  margin-left: 5px;
  color: #303030;
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}

.fileInfo svg:hover {
  animation: jump 0.3s ease-in-out;
}

.rightColumn {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.get_quote {
  font-size: 2rem;
  font-family: var(--font-family-2);
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--color-button-1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.name_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.textarea_container {
  display: grid;
  grid-template-columns: 1fr;
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_container label {
  font-size: 1rem;
  font-family: var(--font-family-2);
  font-weight: 400;
}

.input_container input,
.input_container textarea {
  padding: 1rem;
  border: 1px solid #b9b6b6;
  width: 100%;
  border-bottom: 1px solid #000;
  outline: none;
}

.input_container textarea {
  resize: none;
}

.textarea_label {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.error_border {
  border-bottom: 2px solid red !important;
}

.error_text {
  font-family: var(--font-family-2);
  color: red;
}

.submitButton {
  align-self: flex-end;
  padding: 5px 20px;
  background-color: transparent;
  color: var(--color-button-1);
  border: 1px solid var(--color-button-1);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
}

.submitButton span {
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-button-1);
  color: var(--color-white);
}

.submitButton:hover span:last-child {
  transform: translateX(10px);
}

.inputContainer {
  padding: 0.65rem 0px;
  border: 1px solid #b9b6b6;
  border-bottom: 1px solid #000;
  outline: none !important;
}

.phoneInput {
  border: none !important;
  padding: 10px;
  font-size: 16px !important;
  padding-left: 70px !important;
  outline: none !important;
  box-shadow: none !important;
  width: 100% !important;
}

.phoneInput:active,
.phoneInput:focus {
  outline: none !important;
}

/* .react-tel-input .form-control {
  width: auto !important;
} */

.form-control:focus {
  box-shadow: none !important;
}

.dropdownButton {
  background-color: #fff !important;
  border: none !important;
  border-right: 1px solid #ccc !important;
  padding: 10px !important;
}

.dropdown {
  width: 300px !important;
  max-height: 300px !important;
  overflow-y: auto !important;
}

/* Styling for the selected flag */
.inputContainer :global(.selected-flag) {
  background-color: transparent !important;
}

/* Red bottom border when focused */
/* .inputContainer:focus-within {
  border-bottom: 2px solid red;
} */

/* Ensure dropdown is visible */
.inputContainer :global(.country-list) {
  z-index: 9999;
  max-height: 300px;
  overflow-y: auto;
  margin-left: -1.3rem !important;
  margin-top: 0.7rem !important;
  text-align: left;
  width: 320px !important;
}

@media (max-width: 1100px) {
  .section14 {
    gap: 10px;
  }

  .leftColumn h1 {
    font-size: 4rem;
  }

  .leftColumn {
    min-width: 100px;
  }

  .inputContainer {
    padding: 0.65rem 0;
  }
}

@media (max-width: 992px) {
  .section14 {
    flex-direction: column;
    padding: 0 4rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .formGroup {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .section14 {
    padding: 0 2rem;
    gap: 3rem;
  }

  .name_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .leftColumn h1 {
    font-size: 3rem;
  }

  .leftColumn p {
    margin: 20px 0;
    font-size: 1.2rem;
    max-width: 100%;
    letter-spacing: 1.5px;
  }

  .rightColumn {
    margin-bottom: 4rem;
  }

  .downloadButton {
    max-width: 300px;
    gap: 1rem;
  }

  .brochureImage {
    width: 60px;
    height: 60px;
  }

  .download_text {
    font-size: 1rem;
  }

  .fileInfo {
    font-size: 0.9rem;
  }

  .fileInfo svg {
    font-size: 18px;
  }

  .get_quote {
    font-size: 1.5 rem;
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 400px) {
  .leftColumn h1 {
    font-size: 2rem;
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
