/* src/components/FAQ.module.css */
.faqContainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 4rem;
}

.faqItem {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.faqItem:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.faqQuestion {
  background-color: #f7f7f7;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background-color: #fff;
  padding: 0 15px;
}

.faqAnswer.active {
  max-height: 200px; /* Adjust based on your content */
  padding: 15px;
}

.icon {
  font-weight: bold;
  font-size: 20px;
}
