/* .faqContainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 4rem;
}

.faqItem {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.faqItem:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.faqQuestion {
  background-color: #f7f7f7;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background-color: #fff;
  padding: 0 15px;
}

.faqAnswer.active {
  max-height: 200px;
  padding: 15px;
}

.icon {
  font-weight: bold;
  font-size: 20px;
} */

/* @ 2nd faq */

.faqContainer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.faqItem {
  /* border-radius: 4px; */
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.faqQuestion {
  background-color: #f7f7f7;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #ddd; */
}

.faqAnswer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background-color: #63d6ac;
  padding: 0 15px;
  color: #fff;
  box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.411) inset;
  /* -webkit-box-shadow: 1px -2px 14px 0px rgba(0, 0, 0, 0.82) inset;
  -moz-box-shadow: 1px -2px 14px 0px rgba(0, 0, 0, 0.82) inset; */
  font-size: 0.8rem;
}

.faqAnswer.active {
  max-height: 200px;
  padding: 40px;
}

.icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
}

.notRotated {
  transform: rotate(0deg);
}
